.App {
  text-align: left;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 45px;
  width: 100%;
  color: white;
  padding: 0 5px;
}

.App-link {
  color: #09d3ac;
}


