.FadingText .Part {
  background-color: #ccc;
  padding: 5px 10px;
}

.Part>.Part-inner {
  transition: 0.5s;
}

.Part>.Part-inner.faded {
  opacity: 0;
}

.FadingText .Example {
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  border-left: 5px solid #222;
  background-color: #eee;
}
