.MotionAnimate {
  width: 100%;
  text-align: center;
  height: 100px;
  margin-bottom: 50px;
}

.MA-Object {
  height: 150px;
  padding: 50px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
}

.MA-Object-1 {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #eaeaea;
}
