.TypingText .Part {
  background-color: #ddd;
  padding: 5px 10px;
}

.TypingText .Example {
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  border-left: 5px solid #222;
  background-color: #eee;
}
